// nextflow.config

// Pipeline info
manifest {
    name = 'FastFive'
    author = 'VincentKnightSchrijver'
    homePage = 'https://github.com/Hindrance/FastFive'
    description = 'Simple FAST5 to results script with basic QC, calling, and 5mc calls'
    mainScript = 'main.nf'
    version = '1.0.0'
    nextflowVersion = '>=21.10.0'
}

// Process resources?
process {
    // Global process config
    executor = 'local'
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    maxRetries = 2
}
    
// Global default params
params {
    // Input/output options
    fast5 = null
    reference = null
    outdir = './results'
    
    // Flowcell and Kit options
    flowcell = 'FLO-MIN106'
    kit = 'SQK-LSK109'
    
    // Variant calling options fo Clair3?
    model_path = '/opt/models/ont_guppy5'
    sample_name = 'sample001'
    
    // Resource limits
    max_memory = '8.GB'
    max_cpus = 4
    max_time = '24.h'
    
    // Other options
    help = false
    tracedir = "${params.outdir}/pipeline_info"
}

// Execution profiles
profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        docker.fixOwnership = true
    }
    
    test {
        docker.enabled = true
        docker.fixOwnership = true
        params {
          fast5 = 'test_data/fast5_files'
          reference = 'test_data/genomes/GRCh38/chr20_chr22_combined.fa'
          outdir = 'test_results'
        }
       
    }
}

