// nextflow.config

// Pipeline info
manifest {
    name = 'FastFive'
    author = 'VincentKnightSchrijver'
    homePage = 'https://github.com/Hindrance/FastFive'
    description = 'Simple FAST5 to results script with basic QC, calling, and 5mc calls'
    mainScript = 'main.nf'
    version = '0.0.1'
    nextflowVersion = '>=21.10.0'
}

// Execution profiles
profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        docker.fixOwnership = true
    }
}

